<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.exoapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="false"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ExoApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".splash_screen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity_principal"
            android:parentActivityName=".splash_screen"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity_tipo_evalu"
            android:parentActivityName=".activity_principal"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity_evalu"
            android:parentActivityName=".activity_tipo_evalu"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity_acercade"
            android:parentActivityName=".activity_principal" />

        <activity
            android:name=".activity_bonificacion"
            android:parentActivityName=".activity_principal" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".activity_politicas_privacidad"></activity>

        <activity
            android:name=".correlatividad.correuniversidad.activity_correuniversidad"
            android:parentActivityName=".activity_principal" />

        <activity
            android:name=".correlatividad.correfacultad.activity_correfacultad"
            android:parentActivityName=".correlatividad.correuniversidad.activity_correuniversidad" />

        <activity
            android:name=".correlatividad.correcarrera.activity_correcarrera"
            android:parentActivityName=".correlatividad.correfacultad.activity_correfacultad" />

        <activity
        android:name=".correlatividad.corremalla.activity_corremalla"
        android:parentActivityName=".correlatividad.correcarrera.activity_correcarrera" />

        <activity
            android:name=".correlatividad.activity_correlatividad"
            android:parentActivityName=".correlatividad.corremalla.activity_corremalla" />


        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>


    </application>

</manifest>