<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exoapp">

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ExoApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".ActivityEscala"
            android:parentActivityName=".ActivityBonificacion">
        </activity>

        <activity
            android:name=".ActivitySplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityPrincipal"
            android:parentActivityName=".ActivitySelecfacultad"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActivityTipoEvalu"
            android:parentActivityName=".ActivityPrincipal"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActivityEvalu"
            android:parentActivityName=".ActivityTipoEvalu"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActivityAcercade"
            android:parentActivityName=".ActivityPrincipal" />
        <activity
            android:name=".ActivityBonificacion"
            android:parentActivityName=".ActivityPrincipal" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".ActivityPoliticasPrivacidad"
            android:parentActivityName=".ActivityPrincipal"/>

        <activity
            android:name=".ActivitySelecfacultad" />


        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>